[user]
	name = Santo Cariotti
	email = santo@dcariotti.me
	signingkey = C9B7C8FD3701C2C6
[alias]
	amend = commit --amend --verbose
	ci = commit --verbose
	co = checkout
	cp = cherry-pick
	di = diff
	dis = diff --staged
	fd = "!f() { git log --grep=$1; }; f"
	logs =  log --graph --branches --remotes --tags --pretty=format':%C(yellow)%h%C(green)%d%Creset %C(cyan)%an <%ae> %Creset%C(white)%aD %C(red)(%ar)\n%s%Creset\n'
	st = status
[credential]
	helper = store
[core]
	editor = nvim --clean
    ; pager = bat -l diff
    ; pager = delta
	excludesFile = ~/.gitignore
[init]
	defaultBranch = main
[grep]
	lineNumber = true
[color "grep"]
	lineNumber = yellow
	match = red bold
	filename = cyan
[merge]
	tool = nvimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
; [interactive]
; 	diffFilter = delta --color-only
; [delta]
; 	features = line-numbers decorations
[pull]
	rebase = false
[diff]
	; external = difft
    algorithm = histogram
[safe]
	directory = /home/santo/Documents/Notes
[url "ssh://git@github.com"]
	insteadOf = https://github.com
